body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

#videoElement {
    width: 40vw; /* 画面の横幅の40% */
    height: 30vw; /* 画面の横幅の30% */
    object-fit: contain; /* ビデオのアスペクト比を維持 */
    display: block;
    margin: auto;
    z-index: 2;
}

#photoFrame {
    position: relative;
    width: 40vw; /* 画面の横幅の40% */
    height: 30vw; /* 画面の横幅の30% */
    margin: auto;
    z-index: 3;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0; /* 透明度を初期化（0 = 0%） */
    background-size: cover;
    background-position: center;
    z-index: 4;
}

#photoCanvas {
    display: none;
}
